@model IEnumerable<MovieStore.Models.Movie>

@{
    ViewBag.Title = "latest Movies";
}

<h2>latest Movies</h2>


@ViewBag.orderId

@foreach (var item in Model)
{

    @Html.Partial("_Movie", item);
}


